@import '@radix-ui/colors/blackA.css';

/* reset */
button {
  all: unset;
}

.CheckboxRoot {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px var(--blackA7);
  border:1px solid transparent;
}
.CheckboxRoot:hover {
  background-color: var(--violet3);
  border:1px solid white;
}

.CheckboxRoot:hover .CheckboxIndicator {
  color: white;
}
.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px black;
}

.CheckboxIndicator {
  color:green;
  display: flex;
}
